*{
  font-family: 'Inter', sans-serif;
}

:root {
  --bs-primary: #754ffe;
  --bs-dark-primary: #593cc1;
  --bs-warning: #ffeeda;
  --bs-success: #19CB98;
  --bs--dark-success:#139a74;
  --bs-light:#f5f4f8;
  --bs-secondary: #5c5776;
  --bs-dark-secondary: #5c596d;
  --bs-warn: #c28135;

  --bs-primary-rgb: 117,79,254;
  --bs-dark-primary-rgb: 89,60,193;
  --bs-success-rgb: 25,203,152;
  --bs-dark-success-rgb: 19,154,116;
  --bs-warning-rgb: 255,238,218;
  --bs-light-rgb: 245,244,248;
  --bs-dark-secondary-rgb: 92,89,109;
  --bs-secondary-rgb: 92, 87, 118;
  --bs-warn-rgb: 194,129,53;

  --bs-font-sans-serif: "Inter","sans-serif";
  //--bs-body-font-family: Inter,sans-serif;
  //--bs-body-font-family: Inter-b,sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.6;
  --bs-body-color: #79758f;
  --bs-body-bg: #f5f4f8;
}

//colors:
$color-primary: #754ffe;
$color-dark-primary:#593cc1;
$color-success: #19cb98;
$color-dark-success:#139a74;
$color-dark:#18113c;
$color-light:#f5f4f8;
$color-secondary: #79758f;
$color-dark-secondary: #5c596d;
$color-second: #5c5776;
$color-warn: #c28135;
$color-warning: #ffeeda;
$color-warning2: #ffaa46;
//*******************************
//color of a tag & btn:
.mb-6 {
  margin-bottom: 2.5rem!important;
}
.lead {
  letter-spacing: -.03rem;
}
.w-bookmark{
  height: 0.9rem;
  width: 0.9rem;
  margin-bottom: 4px;
  stroke-width: 2.5;
}

.ms-15 {
  margin-left: 0.15rem!important;
}
.lh-3{
  line-height: 1.3;
  font-size: 3.5rem;
}
.rounded-3{
  border-radius: 0.5rem!important;
}

.t-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.6;
  padding: 0.75rem 1.25rem;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.c-a{
  color:$color-dark;
  &:hover{
   color:$color-primary; 
  }
}

a{
  text-decoration: none;
}

//padding:

.pb-16{
  padding-bottom:7.5rem!important;
}
.pt-8{
  padding-top:3.5rem !important;
}
.pt-12 {
  padding-top: 3.25rem !important;
}
.pb-6 {
  padding-bottom: 2.5rem!important;
}

.pt-8 {
  padding-top: 3.5rem !important;
}
@media (min-width: 992px){
  .pb-lg-3 {
    padding-bottom: 1rem!important;
  }
  .pt-lg-12 {
    padding-top: 5.5rem!important;
  }
}
.mt-n1 {
  margin-top: -0.25rem!important;
}

.l-s{
  letter-spacing: -0.03rem;
}
.l-s2{
  letter-spacing: .02rem;
}

.display-4{
  font-family: 'InterBold' !important;
  font-size: 2.6rem;
  letter-spacing: -.05rem;
} 

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px; 
  }
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(3,0,71,.09)!important;
}



