<div class="card rounded-3">
    <!-- Card header -->
    <div class="card-header border-bottom-0 p-0">
        <div>
            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="table-tab" data-bs-toggle="pill" href="#table" role="tab" aria-controls="table" aria-selected="true">Contents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="description-tab" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="false">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="transcript-tab" data-bs-toggle="pill" href="#transcript" role="tab" aria-controls="transcript" aria-selected="false">Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faq-tab" data-bs-toggle="pill" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                <!-- Card -->
                <!-- *********************** -->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="c-a accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                           Introduction to JavaScript
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="pt-3 pb-2">
                                <a class="c-a mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                           <img src="assets/images/play.png" class="img-size-2">
                                        </span>
                                        <span>Introduction</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>1m 7s</span>
                                    </div>
                                </a>
                                <a class="c-a mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/play.png" class="img-size-2">   
                                        </span>                                                 
                                        <span>Installing Development Software</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>3m 11s</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- ********************** -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="c-a accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            JavaScript Beginning
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="pt-3 pb-2">
                                <a class="c-a mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/play.png" class="img-size-2">   
                                        </span>
                                        <span>Introduction</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>1m 41s</span>
                                    </div>
                                </a>
                                <a class="c-a mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/play.png" class="img-size-2">   
                                        </span>
                                        <span>Adding JavaScript Code to a Web Page</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>3m 39s</span>
                                    </div>
                                </a>
                                <a class="c-a mb-2 d-flex justify-content-between align-items-center text-inherit text-decoration-none">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/play.png" class="img-size-2">   
                                        </span>                                                                <span>
                                            Working with JavaScript Files
                                        </span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>6m 18s</span>
                                    </div>
                                </a>
                            </div>
                            </div>
                        </div>
                      </div>
                      <!-- ************************ -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                          <button class="c-a accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Variables and Constants
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="pt-3 pb-2">
                                <a  class=" mb-2 d-flex justify-content-between align-items-center text-dark ">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/padlock.png" class="img-size-2">   
                                        </span>
                                        <span>Introduction</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>1m 19s</span>
                                    </div>
                                </a>
                                <a  class=" mb-2 d-flex justify-content-between align-items-center text-dark ">
                                    <div class="text-truncate">
                                        <span class="me-2">
                                            <img src="assets/images/padlock.png" class="img-size-2">   
                                        </span>
                                        <span>What Is a Variable?</span>
                                    </div>
                                    <div class="text-truncate">
                                        <span>2m 11s</span>
                                    </div>
                                </a>
                            </div>
                         </div>
                        </div>
                      </div>
                </div>
                    <!-- ************************ -->
            </div>
            <!-- ************** -->
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div>
                    <h3 class="mb-3 ">Course Descriptions</h3>
                </div>
            </div>
            <!-- ************** -->
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div>
                    <h3 class="mb-3 ">How students rated this courses</h3>
                </div>
            </div>
            <!-- ************** -->
            <div class="tab-pane fade" id="transcript" role="tabpanel" aria-labelledby="transcript-tab">
                <div>
                    <h3 class="mb-3 ">Transcript from the "Introduction" Lesson</h3>
                </div>
            </div>
           <!-- ************** -->
            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                <div>
                    <h3 class="mb-3 ">Course - Frequently Asked Questions</h3>
                </div>
            </div>
    </div>
  </div>
</div>